<% if (currentUser) { %>
<div class="flex gap-1 mt-8">
    <p class="text-xl">Hello,</p>
    <p class="text-xl text-red-600"> <%= currentUser.username %>!</p>
</div>
<% } %>

<div class="flex flex-col w-[40rem] mt-10">
    <h1 class="text-5xl tracking-wide font-bold z-10">Messages</h1>
</div>

<% if (currentUser && currentUser.membership === 'member') { %>
    <div>
        <button id="toggleFormBtn" class="bg-[#262626] px-28 py-2 rounded-md text-lg font-semibold w-[40rem]">
            + New message
        </button>
    </div>
    <% } %>
    <div id="newMessageForm" class="mt-4 w-[40rem]">
        <form action="" method="POST" class="flex flex-col gap-4">
            <input type="text" name="title" id="title" placeholder="Write your title here..." class="bg-transparent border border-gray-500 p-3 rounded-md w-full outline-none" required>
            <textarea name="messageContent" class="bg-transparent border border-gray-500 p-3 rounded-md w-full outline-none" placeholder="Write your message here..." required></textarea>
            <button type="submit" class="bg-red-600 text-white px-5 py-2 rounded-md">Submit</button>
        </form>
    </div>
    <div>
        <% if (messages) { %>
            <ul class="-mt-4">
                <% messages.forEach((message) => { %>
                    <li class="bg-[#262626] w-[40rem] rounded-md p-3 mt-4 border-[1px] border-gray-700">
                        <p class="text-sm text-[#949494] mb-2"><%= currentUser ? message.username + ' • ' + message.timestamp + ' ago' : 'anonymous'%></p> 
                        <div class="flex flex-col">
                            <p class="font-semibold text-lg"><%= message.title %></p> 
                            <p class="leading-tight  text-sm"><%= message.content %></p> 
                        </div>
                    </li>
                <% }) %>
            </ul>
        <% } %>
    </div>

    <script>
      // JavaScript to toggle form visibility
      const toggleFormBtn = document.getElementById('toggleFormBtn');
      const newMessageForm = document.getElementById('newMessageForm');

      toggleFormBtn.addEventListener('click', () => {
        newMessageForm.classList.toggle('active');
      });
    </script>

    <style>
      /* Slide down animation */
      #newMessageForm {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease;
      }

      #newMessageForm.active {
        height: 14rem; 
      }
    </style>