<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header class="header p-10 flex justify-around items-center bg-[#232323]">
        <a href="/" class="flex gap-2 relative">
            <h1 class="text-[2.2rem] inline-block text-red-600 "><strong>Members</strong></h1>
            <h1 class="text-[2rem] inline-block z-10 mt-[3px]"><strong>Only</strong></h1>
            <span class="absolute bottom-0 left-0 w-full h-[2px] bg-red-600 mb-[11px] "></span>
        </a>
        <%if(currentUser) { %>
            <div class="flex gap-6">
                <a href="/join-club" class="flex justify-center items-center border-solid border-[1px] border-gray-500 rounded-3xl w-28 h-10 text-center bg-[#2b2b2b] hover:brightness-125 tracking-wide">
                    Join club
                </a>
                <a href="/log-out" class="flex justify-center items-center border-solid border-[1px] border-gray-500 rounded-3xl w-28 h-10 text-center bg-[#2b2b2b] hover:brightness-125 tracking-wide">
                    Log out
                </a>
            </div>
        <% } else { %>
            <a href="/log-in" class="flex justify-center items-center border-solid border-[1px] border-gray-500 rounded-3xl w-28 h-10 text-center bg-[#2b2b2b] hover:brightness-125 tracking-wide">
                Login
            </a>
        <% } %>
    </header>
    <main class="flex flex-col justify-center items-center">
        <div class="flex gap-1 mt-8">
            <p class="text-xl">Hello,</p>
        <%if(currentUser) { %>
            <p class="text-xl text-red-600"> <%= currentUser.username %>!</p>
        <% } %>
        </div>
        <div class="flex flex-col w-[40rem] mt-10">
            <h1 class="text-4xl tracking-wide font-bold">Messages</h1>
        </div>
    </main>
  </body>
</html>
